#markdown-toc {
  display: table;
  float: right;
  padding: 27px;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  font-size: 95%;
  line-height: 1.6;
}
#markdown-toc li {
  margin-bottom: 0;
}
#markdown-toc li a {
  font-weight: 100;
}
#markdown-toc:before {
   content: "Table of Contents";
   font-weight: bold;
   display: block;
  position: relative;
  text-align: center;
   color: black;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-transform: translate3d(0,0,0);
  webkit-font-smoothing: antialiased; */
  background: #f6f8f8;
  color: #E36E0B;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  font-size: 100%;
}

.row--b {
    background: #62b562;
}
.white {
  color: #fff;
}
@media screen and (min-width: 48em)
.g-b--m--1of4 {
    width: 25%;
}
.g-b {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding-left: 1.875em;
    width: 100%;
}
.g {
    display: block;
    margin-left: -1.875em;
}
.cell {
    margin-left: auto;
    margin-right: auto;
    max-width: 75em;
    position: relative;
}
@media screen and (min-width: 48em)
.well {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
}
@media screen and (min-width: 48em)
.g-b--m--3of4 {
    width: 75%;
}

footer,
header,
main,
nav {
  display: block;
}
main {
  background: url('../images/library.jpg') repeat;
  background-size: 100%;
}
a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

img {
  border: 0;
}

input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

select {
  text-transform: none;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

textarea {
  overflow: auto;
}

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

ul,
ol,
p {
  margin-bottom: 1.25em;
  margin-top: 0;
}

li {
  margin-bottom: 0.625em;
  margin-top: 0;
}

li,
p {
  font-size: 90%;
}

@media screen and (min-width: 48em) {
  li,
  p {
    font-size: 100%;
  }
}

h2,
h3,
h4 {
  color: #62b562;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 0.3125em;
  margin-top: 0;
}

.h--1 {
  font-size: 130%;
  line-height: 1.4;
  margin-bottom: 0.3125em;
}

@media screen and (min-width: 48em) {
  .h--1 {
    font-size: 200%;
    color: #62b562;
  }
}

h2 {
  font-size: 100%;
}

@media screen and (min-width: 48em) {
  h2 {
    font-size: 150%;
  }
}

h3,
.h--3 {
  font-size: 105%;
}

@media screen and (min-width: 48em) {
  h3,
  .h--3 {
    font-size: 125%;
  }
}

h4 {
  font-size: 100%;
}

strong,
b {
  font-weight: 600;
}

a,
.link {
  color: #62b562;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

a:active,
a:focus,
a:hover,
.link:active,
.link:focus,
.link:hover {
  color: #167385;
}

input[type='text'],
textarea {
  -webkit-appearance: none;
  box-sizing: border-box;
}

::-moz-selection {
  background: #c0ecf4;
}

::selection {
  background: #c0ecf4;
}

::-moz-selection {
  background: #c0ecf4;
}

.btn {
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 75%;
  line-height: 3;
  padding: 0 2.5em;
  background-color: #21abc7;
  border: 1px solid #21abc7;
  color: #fff;
  border-radius: 100px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn:active,
.btn:focus,
.btn:hover {
  background-color: #1c91a8;
  border-color: #1c91a8;
  color: #fff;
}

.btn--wide {
  padding-left: 5em;
  padding-right: 5em;
}

.card,
.dropdown-menu {
  border-radius: 8px;
  padding: 0.625em;
  position: relative;
}

@media screen and (min-width: 48em) {
  .card,
  .dropdown-menu {
    padding: 1.25em 1.25em 0 1.25em;
  }
}

.card--a,
.dropdown-menu {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.card-item {
  bottom: 0.625em;
  left: 0.625em;
  position: relative;
  right: 0.625em;
}

@media screen and (min-width: 48em) {
  .card-item {
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
  }
}

.card-item--f {
  bottom: 0;
  left: 0;
  right: 0;
}

.cell {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  position: relative;
}

.cell--xs {
  max-width: 35em;
}

.close,
.modal-close {
  border: 0;
  color: #fff;
  position: absolute;
  right: 0.625em;
  top: 0.3125em;
}

.close:active,
.modal-close:active,
.close:focus,
.modal-close:focus,
.close:hover,
.modal-close:hover {
  color: #fff;
  opacity: 0.75;
  outline: none;
}

.form-btn {
  min-width: 18.75em;
}

.form-field {
  border: 0;
  margin-bottom: 0.3125em;
  padding: 0;
}

@media screen and (min-width: 48em) {
  .form-field {
    margin-bottom: 1.25em;
  }
}

.form-input {
  border-radius: 3px;
  border: 1px solid #aebdc1;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.625em;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
}

@media screen and (min-width: 68.75em) {
  .g--s {
    margin-left: -0.9375em;
  }

  .g--s .g-b {
    padding-left: 0.9375em;
  }
}

@media screen and (min-width: 48em) {
  .g-b--m--1of2 {
    width: 50%;
  }

  .g-b--m--1of2 {
    width: 50%;
  }

  .g-b--m--1of2 {
    width: 50%;
  }
}

@media screen and (min-width: 64em) {
  .g-b--l--1of3 {
    width: 33.33333%;
  }

  .g-b--l--1of3 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 68.75em) {
  .g-b--xl--1of3 {
    width: 33.33333%;
  }

  .g-b--xl--1of3 {
    width: 33.33333%;
  }
}


.icn::before,
.close::before,
.modal-close::before,
.search-icn::before {
  display: inline-block;
  font-family: icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  speak: none;
}

.icn--facebook::before {
  content: "\f135";
}

.icn--googlePlus::before {
  content: "\f152";
}

.icn--instagram::before {
  content: "\f151";
}

.icn--notice::before {
  content: "\f160";
}

.icn--search::before,
.search-icn::before {
  content: "\f150";
}

.icn--twitter::before {
  content: "\f147";
}

.list,
.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--object::after {
  clear: both;
  content: "";
  display: table;
}

.list--object>.list-item {
  float: left;
  margin-bottom: 0.625em;
  margin-right: 0.625em;
}

.list--object>.list-item:last-child {
  margin-bottom: 0.625em;
  margin-right: 0;
}

.list--object--l>.list-item {
  margin-bottom: 1.25em;
  margin-right: 1.25em;
}

@media screen and (min-width: 64em) {
  .list--object--l>.list-item {
    margin-bottom: 2.5em;
    margin-right: 2.5em;
  }
}

.list--object--l>.list-item:last-child {
  margin-right: 0;
}

.list--object--single .list-item {
  margin-bottom: 0;
}

.list--object--single .list-item:last-child {
  margin-bottom: 0;
}

.list--styled {
  list-style-type: disc;
  padding-left: 2.5em;
}

.list--styled .list-item {
  display: list-item;
}

.list-item {
  display: block;
}

.list-item:last-child {
  margin-bottom: 0;
}

.pin {
  position: absolute;
}

.pin--south {
  bottom: 1.25em;
}

.pin--south--l {
  bottom: 2.5em;
}

.pin--xcenter {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.row {
  overflow: hidden;
  padding: 0 0.625em;
}

@media screen and (min-width: 48em) {
  .row {
    padding: 0 2.5em;
  }
}

.row--a {
  background: #fff;
}

.sentry {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  visibility: visible;
}

.thumb {
  border-radius: 50%;
  display: block;
}

.userMenu-thumb {
  border-radius: 3px;
}

.well {
  margin-bottom: 0.625em;
  margin-top: 0.625em;
}

@media screen and (min-width: 48em) {
  .well {
    margin-bottom: 1.25em;
    margin-top: 1.25em;
  }
}

.well--l {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

@media screen and (min-width: 48em) {
  .well--l {
    margin-bottom: 2.5em;
    margin-top: 2.5em;
  }
}

.well--xl {
  margin-bottom: 2.5em;
  margin-top: 2.5em;
}

@media screen and (min-width: 48em) {
  .well--xl {
    margin-bottom: 5em;
    margin-top: 5em;
  }
}

.attraction--a {
  background: -webkit-linear-gradient(#F29C18, #E36E0B);
  background: linear-gradient(#F29C18, #E36E0B);
}

.attraction--a .attraction-btn {
  background: transparent;
  border-color: #4C2504;
  color: #fff;
}

.attraction--a .attraction-btn:active,
.attraction--a .attraction-btn:focus,
.attraction--a .attraction-btn:hover {
  background: #4C2504;
}

.attraction--a .attraction-highlight::after {
  background: #4C2504;
}

.attraction-highlight::after {
  content: "";
  display: block;
  height: 2px;
  margin: 1.25em auto 2.5em;
  width: 5em;
}

.badge {
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  display: block;
  height: 110px;
  padding: 0.3125em;
  position: relative;
  width: 110px;
}

.badge--80 {
  height: 80px;
  width: 80px;
}

.badge-img {
  border-radius: 50%;
  display: block;
  height: 100%;
  width: 100%;
}

.banner {
  background: #21abc7;
  color: #fff;
  padding: 1.25em;
  position: relative;
  text-align: center;
}

.banner-title {
  color: #fff;
  margin-bottom: 0;
}

.banner-title-link {
  border-color: #fff;
  color: #fff;
}

.banner-title-link:active,
.banner-title-link:focus,
.banner-title-link:hover {
  border-color: #fff;
  color: #fff;
  opacity: 0.75;
}

.brand-img {
  display: block;
  max-width: none;
  height: 23px;
}
.img-container img{
  width: 40px;
  height: 40px;
}


.brand-link {
  border: 0;
  display: block;
}

.brand-link:active,
.brand-link:focus,
.brand-link:hover {
  opacity: 0.75;
}

.collection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1.25em;
}

.collection--centered {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.collection-item {
  margin-bottom: 1.25em;
  padding-left: 1.25em;
}

.content {
  clear: both;
  min-height: 100%;
}

.footer {
  background: #2d3033;
  color: #aebdc1;
}

@media screen and (min-width: 48em) {
  .footer {
    bottom: 0;
    height: 32.8125em;
    left: 0;
    position: relative;
    right: 0;
    top: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
  }
}

@media screen and (min-width: 68.75em) {
  .footer {
    height: 24em;
  }
}

.footer-about {
  position: relative;
}

.footer-about::before {
  background: #47585c;
  content: "";
  height: 100%;
  left: -1em;
  position: absolute;
  width: 1px;
}

.footer-about>p {
  margin-bottom: 0.3125em;
}

.footer-about a {
  border-color: #aebdc1;
  color: #aebdc1;
  display: inline-block;
}

.footer-about a:active,
.footer-about a:focus,
.footer-about a:hover {
  border-color: #fff;
  color: #fff;
}

@media screen and (min-width: 48em) {
  .footer-about {
    padding-left: 1.25em;
  }
}

.footer-copyright {
  font-size: 85%;
  margin-bottom: 0;
}

@media screen and (min-width: 68.75em) {
  .footer-copyright {
    padding-top: 0.625em;
  }
}

.footer-copyright--east {
  display: none;
}

@media screen and (min-width: 48em) {
  .footer-copyright--east {
    display: block;
  }
}

.footer-copyright--south {
  display: block;
}

@media screen and (min-width: 48em) {
  .footer-copyright--south {
    display: none;
  }
}

@media screen and (min-width: 48em) {
  .footer-list {
    font-size: 80%;
  }
}

.footer-list-link {
  border: 0;
  color: #aebdc1;
}

.footer-list-link:active,
.footer-list-link:focus,
.footer-list-link:hover {
  color: #fff;
}

.header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.header::after {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 100%;
}

.header-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
}

.header-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-item--grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.h--bold {
  font-weight: 700;
}

.iconList {
  border-radius: 3px;
}

.iconList-item {
  display: inline;
  font-size: 150%;
  margin-right: 0.3125em;
}

.iconList-item:last-child {
  margin-right: 0;
}

.iconList-item-link {
  border: 0;
  color: #aebdc1;
}

.iconList-item-link:active,
.iconList-item-link:focus,
.iconList-item-link:hover {
  color: #748e95;
}

.iconList-item-icn::before {
  vertical-align: middle;
}

.link--underline {
  text-decoration: underline;
}

.dropdown-menu {
  font-size: 85%;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item {
  border-bottom: 1px solid #e2e8e9;
  margin: 0;
  padding: 0;
}

.dropdown-item:first-child .dropdown-item-link {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dropdown-item:last-child {
  border: 0;
}

.dropdown-item:last-child .dropdown-item-link {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-item-link {
  border: 0;
  color: #393d40;
  display: block;
  padding: 0.625em 1.25em;
}

.dropdown-item-link:active,
.dropdown-item-link:focus,
.dropdown-item-link:hover {
  background: #f6f8f8;
}

.nav-box {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: -1.25em;
  display: block;
  left: -1.25em;
  right: -0.625em;
  top: -1.25em;
}

@media screen and (min-width: 48em) {
  .nav-box {
    right: -1.25em;
  }
}

.nav-item {
  font-size: 80%;
}

.nav-item--separator {
  padding-left: 0.625em;
  position: relative;
}

@media screen and (min-width: 64em) {
  .nav-item--separator {
    padding-left: 1.25em;
  }
}

.nav-item--separator::before {
  background: #e2e8e9;
  content: "";
  display: block;
  height: 40px;
  left: -0.3125em;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 1px;
}

@media screen and (min-width: 64em) {
  .nav-item--separator::before {
    left: -0.625em;
  }
}

.nav-item-link {
  border: 0;
  color: #aebdc1;
}

.nav-item-link:active,
.nav-item-link:focus,
.nav-item-link:hover {
  color: #393d40;
}

.nav-list {
  height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

@media screen and (max-width: 48em) and (max-height: 21.875em) {
  .nav-list {
    line-height: 45px;
  }
}

@media screen and (min-width: 48em) {
  .nav-list {
    height: auto;
    opacity: 1;
    overflow: visible;
    visibility: visible;
  }
}

.nav-menu {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 0;
  display: block;
  height: 20px;
  position: absolute;
  right: 0;
  width: 28px;
}

@media screen and (min-width: 48em) {
  .nav-menu {
    display: none;
  }
}

.nav-menu-stack {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background: #aebdc1;
  display: block;
  height: 4px;
  margin-top: 4px;
  width: 28px;
}

.nav-menu-stack::before,
.nav-menu-stack::after {
  background: #aebdc1;
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 28px;
  z-index: 0;
}

.nav-menu-stack::before {
  top: -4px;
}

.nav-menu-stack::after {
  top: 12px;
}

.has-note {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 19;
}

@media screen and (min-width: 48em) {
  .has-note {
    width: 18.75em;
  }
}

.path {
  margin-bottom: 2.5em;
  overflow: visible;
  position: relative;
  text-align: center;
}

.path:active .path-badge,
.path:focus .path-badge,
.path:hover .path-badge {
  top: -1.9em;
}

.path::before,
.path::after {
  content: "";
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
  height: 95px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.path::before {
  z-index: 2;
}

.path::after {
  z-index: 1;
}

.path--static:active .path-badge,
.path--static:focus .path-badge,
.path--static:hover .path-badge {
  top: -2.5em;
}

.path--static .path-title-link {
  border: 0;
}
.path-title {
  margin-bottom: 0.3125em;
}
.path--min--l .path-content {
  padding-top: 42.75px;
}

@media screen and (min-width: 48em) {
  .path--min--l {
    min-height: 16.25em;
  }

  .path--min--l .path-btn {
    bottom: 5.625em;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.path-badge {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: -2.5em;
  z-index: 4;
}

.path-btn {
  display: block;
  text-align: center;
}

.path-content {
  padding-top: 95px;
  position: relative;
  text-align: center;
  z-index: 3;
}

@media screen and (min-width: 48em) {
  .path-content {
    padding-top: 75px;
  }
}

.path-next {
  background: #fcfcfc;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #e2e8e9;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3em 0em;
  text-align: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: 100%;
}

.path-next:active,
.path-next:focus,
.path-next:hover {
  background: #f6f8f8;
}

@media screen and (min-width: 48em) {
  .path-next {
    text-align: left;
  }
}

.path-next-label,
.path-next-title {
  margin-bottom: 0;
}
.path-next-label {
  line-height: 1.5;
}

.path-next-badge {
  display: none;
}

@media screen and (min-width: 48em) {
  .path-next-badge {
    display: block;
    margin-right: 0.4em;
    width: 40px;
  }
}

/* Centered Section */

.responsive-container {
    position: relative;
    width: 70px;
}

.dummy {
    padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}
/* End Centering Section */

.path-next-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
    width: calc(100% - 10px);
}

@media screen and (min-width: 48em) {
  .path-next-content {
    width: calc(100% - 1.25em - 40px);
  }
}

.path-next-label {
  color: #aebdc1;
  font-size: 75%;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 64em) and (max-width: 75em) {
  .path-next-label {
    font-size: 80%;
  }
}

.path-next-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #62b562;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (min-width: 64em) and (max-width: 75em) {
  .path-next-title {
    font-size: 80%;
  }
}

.path-title-link {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.userMenu {
  border: 0;
  display: block;
  padding-right: 1.25em;
  position: relative;
}

.has-userMenu {
  z-index: 11;
}

.userMenu-icn {
  color: #aebdc1;
  display: block;
  padding-left: 1.25em;
  position: absolute;
  right: 0;
  top: 12px;
}

.userMenu-thumb {
  margin-right: 6px;
}

.bc-snow-light {
  background: #fcfcfc;
}

.bdrn {
  border: 0;
}

.bdrt {
  border-top: 1px solid #e2e8e9;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

@media screen and (min-width: 48em) {
  .db--m {
    display: block;
  }

  .dn--m {
    display: none;
  }
}

.fxg1 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (min-width: 48em) {
  .fx--m {
    display: relative;

    width: 100%;
  }

  .fxp50--m {
    width: 100%;
  }
}

.mbf {
  margin-bottom: 0;
}

.mbs {
  margin-bottom: 0.625em;
}

.mbm {
  margin-bottom: 1.25em;
}

.mbl {
  margin-bottom: 2.5em;
}

.mbxl {
  margin-bottom: 5em;
  color: #E36E0B;
}
.post-title {
  font-size:2.618em;
  font-weight: 700;
  text-align: center;
  -webkit-margin-before: 1.33em;
-webkit-margin-after: 1.33em;
margin-bottom: 0.8em;
}
.post-content h2 {
  font-family: "ff-enzo-web", Arial, Helvetica, Calibri, sans-serif;
font-weight: 700;
text-transform: none;
letter-spacing: 0;
font-size: 1.618em;
line-height: 1.2;
margin-bottom: 0.382em;
}

.post-content p {font-size: 1em;  }

@media screen and (min-width: 48em) {
  .mbf--m {
    margin-bottom: 0;
  }

  .mbl--m {
    margin-bottom: 2.5em;
  }
}

@media screen and (min-width: 68.75em) {
  .mbm--xl {
    margin-bottom: 1.25em;
  }
}

.mhc {
  margin-left: auto;
  margin-right: auto;
}

.mla {
  margin-left: auto;
}

.mtf {
  margin-top: 0;
}

.mtl {
  margin-top: 2.5em;
}

.pas {
  padding: 0.625em;
}

.pbxl {
  padding-bottom: 5em;
}

.plm {
  padding-left: 1.25em;
}

.ptxs {
  padding-top: 0.3125em;
}

.ptm {
  padding-top: 1.25em;
}

.ptxl {
  padding-top: 5em;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tce {
  color: #b24626;
}

.tci {
  color: #fff;
}

.tcs {
  color: #aebdc1;
}

.tct {
  color: #393d40;
}

.thb {
  line-height: 1.5;
}

.th1 {
  line-height: 1;
}

.tss {
  font-size: 85%;
}

.tsh1 {
  font-size: 200%;
}

.tsh2 {
  font-size: 150%;
}

.tsh3 {
  font-size: 125%;
}

.tshl {
  font-size: 250%;
}

.twl {
  font-weight: 300;
}

.twsb {
  font-weight: 600;
}

.dropdown-item:first-child .dropdown-item-link {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.dropdown-item:last-child .dropdown-item-link {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
