<div class="fx--m">
   <div class="fx--m fxg1 fxp50--m attraction attraction--a pbxl ptxl">
      <div class="mhc tac tci">
         <h4 class="h h--3 tci">Do you enjoy our videos?</h4>
         <p class="attraction-highlight">
            <span class="tshl">Support us on Patreon!</span>
         </p>
         <div class="tac">
            <ul class="list list--styled dib tal ptxs">
               <li class="list-item">Help us continue to keep making great tutorial videos!</li>
               <li class="list-item">Get mentioned in the credits and on our supporters page!</li>
               <li class="list-item">Be awesome!</li>
            </ul>
         </div>
         <a href="http://patreon.com/devopslibrary" class="btn attraction-btn mtl">Support Us!</a>
      </div>
   </div>
</div>

<footer class="footer" role="contentinfo">
   <div class="row">
      <div class="cell well well--l">
         <div class="g">
            <div class="g-b g-b--m--1of2">
               <div class="g g--s">
                  <div class="g-b g-b--m--1of2 g-b--xl--1of3">
                    <ul class="footer-list list mbs mbm--xl">
                      <li class="list-item"><span class="footer-list-link link link--underline list-item-link">Our Favorite DevOps Blogs</span></li>
                      <li class="list-item"><a href="http://arresteddevops.com" class="footer-list-link list-item-link">ArrestedDevOps.com</a></li>
                      <li class="list-item"><a href="http://beaudry.io/" class="footer-list-link list-item-link">Beaudry.io</a></li>
                      <li class="list-item"><a href="http://cobus.io" class="footer-list-link list-item-link">Cobus.io</a></li>
                      <li class="list-item"><a href="http://www.coffeeandpizza.net" class="footer-list-link list-item-link">CoffeeAndPizza.net</a></li>
                      <li class="list-item"><a href="http://davewyatt.wordpress.com" class="footer-list-link list-item-link">DaveWyatt.wordpress.com</a></li>
                      <li class="list-item"><a href="http://devblackops.io/" class="footer-list-link list-item-link">DevBlackOps.io</a></li>
                      <li class="list-item"><a href="https://devopscollective.org/" class="footer-list-link list-item-link">DevOpsCollective.org</a></li>
                      <li class="list-item"><a href="http://duffney.io/#blog" class="footer-list-link list-item-link">Duffney.io</a></li>
                      <li class="list-item"><a href="http://flynnbundy.com" class="footer-list-link list-item-link">FlynnBundy.com</a></li>
                    </ul>
                  </div>
                  <div class="g-b g-b--m--1of2 g-b--xl--1of3">
                  <ul class="footer-list list mbs mbm--xl">
                    <li class="list-item"><span class="footer-list-link link link--underline list-item-link">Continued</span></li>
                    <li class="list-item"><a href="https://gaelcolas.com/" class="footer-list-link list-item-link">GaelColas.com</a></li>
                    <li class="list-item"><a href="http://www.greenreedtech.com/" class="footer-list-link list-item-link">GreenReedTech.com</a></li>
                    <li class="list-item"><a href="https://hodgkins.io/#blog" class="footer-list-link list-item-link">Hodgkins.io</a></li>
                    <li class="list-item"><a href="http://www.hurryupandwait.io/" class="footer-list-link list-item-link">HurryUpAndWait.io</a></li>
                    <li class="list-item"><a href="http://pshdo.com" class="footer-list-link list-item-link">Pshdo.com</a></li>
                    <li class="list-item"><a href="http://stevenmurawski.com" class="footer-list-link list-item-link">StevenMurawski.com</a></li>
                    <li class="list-item"><a href="http://hindenes.com/trondsworking/" class="footer-list-link list-item-link">Hindenes.com/trondsworking</a></li>
                    <li class="list-item"><a href="https://xainey.github.io/#blog" class="footer-list-link list-item-link">Xainey.github.io</a></li>
                  </ul>
                  </div>
               </div>
               <p class="footer-copyright footer-copyright--east">© 2016 DevOps Library LLC. Mothership located in Indianapolis, Indiana.</p>
            </div>
            <div class="g-b g-b--m--1of2">
               <div class="footer-about">
                  <p class="pts tss">
                     <strong>The DevOps Library</strong> provides free videos for
                     everyone in the DevOps community.  We hope you love them!
                  </p>
                  <div class="mbm mbl--m">
                     <a href="https://www.devopslibrary.com/about/" class="link link--underline tss">About Us</a><br/>
                     <a href="mailto:admin@devopslibrary.com" class="link link--underline tss">Contact Us</a>
                  </div>
                  <p class="footer-copyright footer-copyright--south">© 2016 DevOps Library LLC. Mothership located in Indianapolis, Indiana.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
