<header class="header row row--a has-dropdown js-navToggle-container" role="banner">
   <div class="cell header-cell">
      <div class="header-item prm" itemscope="" itemtype="http://schema.org/Organization">
         <a href="http://www.devopslibrary.com" class="brand-link" itemprop="url"><img alt="DevOps Library" class="brand-img" itemprop="logo" src="{{ site.baseurl }}/images/logo.png">
         </a>
      </div>
      <div class="header-item header-item--grow sentry" id="main_nav">
         <div class="modal modal--search fade js-searchAutocomplete-modal" id="search-open">
            <div class="modal-dialog modal-dialog--l">
               <div class="modal-content">
                  <div class="modal-header bdrn">
                     <a href="http://www.devopslibrary.com" class="modal-close close" data-dismiss="modal"><b class="srt">Close</b>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
