<script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UCOnioSzUZS-ZqsRnf38V2nA" data-layout="full" data-count="default"></div>
<a href="https://twitter.com/devopslibrary" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @devopslibrary</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br/>
<p>If you love our videos and want to help us as well as join our high scores list at the end of each video, please support us at <a href="https://www.patreon.com/devopslibrary">patreon.com/devopslibrary.</a></p><br/>
<a href="https://www.patreon.com/devopslibrary"><img src="/images/patreon.png" /></a>
