<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <a href="http://www.devopslibrary.com/#" class="skip js-skipToContent" tabindex="1">Skip to content</a>
    <div class="dn db--m" data-sidebar=""></div>
    <ul class="js-note has-note"></ul>

    <div class="js-skipToContent-content" tabindex="-1"></div>
    <main class="content" role="main">
       </div>
       <div class="row">
          <div class="cell cell--xl well well--xl">
             <div class="tac">
                <h3 class="h h--1">Hello,  Welcome to the DevOps Library!</h3>
                <div class="cell cell--xs">
                   <p class="mbxl" style="font-size: 140%;">What would you like to learn today?</p>
                </div>
             </div>
             <div class="g collection collection--centered collection--m--1of2 collection--l--1of3 mbm">
                <div class="g-b g-b--m--1of2 g-b--l--1of3 collection-item plm prm">
                   <div class="card card--a has-card-item path path--min path--min--l path--static has-path-btn mbl">
                      <a href="./pages/ruby.htm" aria-hidden="true" class="badge badge--80 path-badge" tabindex="-1"><img alt="Ruby Path Badge" class="badge-img" height="110" src="./images/saltstack.png" width="110">
                      </a>
                      <div class="path-content">
                         <h2 class="path-title">
                            <a href="lessons/saltstack-beginner-tutorial" class="path-title-link twl">SaltStack</a>
                         </h2>
                         <p class="tct js-orphan">Become a Salt master, and rule over your minions.  Configuration Management from start to finish.</p>
                      </div>

                      <div class="card-item card-item--f pts pbs">
                        <a href="./lessons/saltstack-beginner-tutorial" class="card-item card-item--f path-next pts pbs moo">
                           <div class="responsive-container">
                               <div class="dummy"></div>
                               <div class="img-container">
                                 <img alt="" height="40" src="./images/easy.png" width="40">
                               </div>
                           </div>
                           <div class="path-next-content">
                              <p class="path-next-title">Introduction to Salt</p>
                              <p class="path-next-label">By the end of this lesson, we’ll have a Salt master running as well as our first minion.</p>
                           </div>
                        </a>
                        <a href="lessons/adding-a-salt-minion-linux" class="card-item card-item--f path-next pts pbs moo">
                           <div class="responsive-container">
                               <div class="dummy"></div>
                               <div class="img-container">
                                 <img alt="" height="40" src="./images/easy.png" width="40">
                               </div>
                           </div>
                           <div class="path-next-content">
                              <p class="path-next-title">Adding a Salt Minion (Linux)</p>
                              <p class="path-next-label">If you’re wondering what a "minion" is, don’t worry, it's just SaltStack terminology for a server that can be controlled by the master.  </p>
                           </div>
                        </a>
                        <a href="lessons/adding-a-salt-minion-windows" class="card-item card-item--f path-next pts pbs moo">
                           <div class="responsive-container">
                               <div class="dummy"></div>
                               <div class="img-container">
                                 <img alt="" height="40" src="./images/easy.png" width="40">
                               </div>
                           </div>
                           <div class="path-next-content">
                              <p class="path-next-title">Adding a Salt Minion (Windows)</p>
                              <p class="path-next-label">We'll set up a Windows Salt minion using only a single line of PowerShell!</p>
                           </div>
                        </a>
                        <a href="lessons/salted-chocolatey-windows" class="card-item card-item--f path-next pts pbs moo">
                          <div class="responsive-container">
                             <div class="dummy"></div>
                             <div class="img-container">
                               <img alt="" height="40" src="./images/easy.png" width="40">
                             </div>
                          </div>
                           <div class="path-next-content">
                             <p class="path-next-title">Salted Chocolatey Windows</p>
                             <p class="path-next-label">Let's combine Salt, Windows, and Chocolatey all in one episode! If you’re unfamiliar with the SaltStack, you may want to watch our earlier episodes.</p>
                           </div>
                        </a>
                        <a href="lessons/salt-targeting" class="card-item card-item--f path-next pts pbs moo">
                          <div class="responsive-container">
                             <div class="dummy"></div>
                             <div class="img-container">
                               <img alt="" height="40" src="./images/medium.png" width="40">
                             </div>
                          </div>
                           <div class="path-next-content">
                             <p class="path-next-title">Salt Targeting</p>
                             <p class="path-next-label">Specifying which minions should run a command or execute a state by matching against hostnames, or system information, or defined groups, or even combinations thereof.</p>
                           </div>
                        </a>
                        <a href="lessons/salt-states" class="card-item card-item--f path-next pts pbs moo">
                          <div class="responsive-container">
                             <div class="dummy"></div>
                             <div class="img-container">
                               <img alt="" height="40" src="./images/medium.png" width="40">
                             </div>
                          </div>
                           <div class="path-next-content">
                             <p class="path-next-title">Salt States</p>
                             <p class="path-next-label">The core of the Salt State system is the SLS, or Salt State file. The SLS is a representation of the state in which a system should be in, and is set up to contain this data in a simple format.</p>
                           </div>
                        </a>
                      </div>
                   </div>
                </div>
                <div class="g-b g-b--m--1of2 g-b--l--1of3 collection-item plm prm">
                   <div class="card card--a has-card-item path path--min path--min--l path--static has-path-btn mbl">
                      <a href="lessons/jenkins-for-operations" aria-hidden="true" class="badge badge--80 path-badge" tabindex="-1"><img alt="Python Path Badge" class="badge-img" height="110" src="./images/jenkins.png" width="110">
                      </a>
                      <div class="path-content">
                         <h2 class="path-title">
                            <a href="lessons/jenkins-for-operations" class="path-title-link twl">Jenkins</a>
                         </h2>
                         <p class="tct js-orphan">In a nutshell, Jenkins is the leading open source automation server. Built with Java, it provides hundreds of plugins to support building, testing, deploying and automation for virtually any project.</p>
                      </div>
                      <a href="lessons/jenkins-introduction" aria-label="Jenkins CCJPE Introduction" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/easy.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Jenkins CCJPE: Course Introduction</p>
                            <p class="path-next-label">Welcome to our Jenkins Certification course!  If you haven’t heard, Cloudbees (the creators of Jenkins) recently released two certifications, the CJE and CCJPE.  We'll help you learn everything you need to know to pass them!</p>
                         </div>
                      </a>
                      <a href="lessons/jenkins-master" aria-label="CCJPE: Setting up a Jenkins Master" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/easy.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">CCJPE: Setting up a Jenkins Master</p>
                            <p class="path-next-label">In this short lesson, we’re going to set up Jenkins from scratch.  If you don’t know what Jenkins is, please feel free to watch our Introduction video, or visit “Jenkins.io”.</p>
                         </div>
                      </a>
                      <a href="lessons/jenkins-jobs" aria-label="CCJPE: Jenkins Jobs Tutorial" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/easy.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">CCJPE: Jenkins Jobs Tutorial</p>
                            <p class="path-next-label">What is a job you ask? Essentially it’s just something that we want our Jenkins server to do, which can really be anything.  You could set up a job that pulls application code from git, and compiles it.  Or...</p>
                         </div>
                      </a>
                      <a href="lessons/jenkins-scm" aria-label="CCJPE: Source Control" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/medium.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">CCJPE: Source Control</p>
                            <p class="path-next-label">We’re going to show you how to integrate source control management with Jenkins.</p>
                         </div>
                      </a>
                      <a href="lessons/jenkins-slaves-powershell" aria-label="Jenkins PowerShell Slaves" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/easy.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Setting up a Windows Slave</p>
                            <p class="path-next-label">We’ll be starting out with two servers, a Jenkins master, and a fresh Server 2012 R2 VM with the latest Java JDK and .NET 3.5 installed.</p>
                         </div>
                      </a>
                      <a href="lessons/jenkins-for-operations" aria-label="Jenkins for Operations" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/medium.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Jenkins for Operations</p>
                            <p class="path-next-label">Jenkins is something that your developer friends have probably been using for several years, but it can help tremendously on the operations side as well.</p>
                         </div>
                      </a>
                      <a href="lessons/jenkins-github-powershell-params" aria-label="Jenkins &amp; GitHub + Powershell" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/medium.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Jenkins &amp; GitHub + Powershell</p>
                            <p class="path-next-label">Integrating Jenkins &amp; Github for version control.  And a bit of PowerShell as well.</p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="g-b g-b--m--1of2 g-b--l--1of3 collection-item plm prm">
                   <div class="card card--a has-card-item path path--min path--min--l path--static has-path-btn mbl">
                      <a href="lessons/what-is-vagrant" aria-hidden="true" class="badge badge--80 path-badge" tabindex="-1"><img alt="Vagrant" class="badge-img" height="110" src="./images/vagrant.png" width="110">
                      </a>
                      <div class="path-content">
                         <h2 class="path-title">
                            <a href="lessons/what-is-vagrant" class="path-title-link twl">Vagrant</a>
                         </h2>
                         <p class="tct js-orphan">Vagrant enables users to create and configure lightweight, reproducible, and portable development environments.</p>
                      </div>
                      <a href="lessons/what-is-vagrant" aria-label="What is Vagrant?" class="card-item card-item--f path-next pts pbs">
                         <div class="responsive-container">
                            <div class="dummy"></div>
                            <div class="img-container">
                              <img alt="" height="40" src="./images/easy.png" width="40">
                            </div>
                         </div>
                         <div class="path-next-content">
                            <p class="path-next-title">What is Vagrant?</p>
                            <p class="path-next-label">Learn why we love Vagrant, and how to create reproducible development environments.</p>
                         </div>
                      </a>
                      <a href="lessons/installing-vagrant" aria-label="Installing Vagrant" class="card-item card-item--f path-next pts pbs">
                         <div class="responsive-container">
                            <div class="dummy"></div>
                            <div class="img-container">
                              <img alt="" height="40" src="./images/easy.png" width="40">
                            </div>
                         </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Installing Vagrant</p>
                            <p class="path-next-label">Installing Vagrant is extremely easy, we'll show you how :).</p>
                         </div>
                      </a>
                      <a href="lessons/getting-started-with-vagrant" aria-label="Getting Started with Vagrant" class="card-item card-item--f path-next pts pbs">
                         <div class="responsive-container">
                            <div class="dummy"></div>
                            <div class="img-container">
                              <img alt="" height="40" src="./images/easy.png" width="40">
                            </div>
                         </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Getting Started with Vagrant</p>
                            <p class="path-next-label">We’re going to bring up our first Vagrant Machine, and explain the basics of editing a VagrantFile.</p>
                         </div>
                      </a>
                      <a href="lessons/vagrant-provisioning" aria-label="Vagrant Provisioning" class="card-item card-item--f path-next pts pbs">
                         <div class="responsive-container">
                            <div class="dummy"></div>
                            <div class="img-container">
                              <img alt="" height="40" src="./images/medium.png" width="40">
                            </div>
                         </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Vagrant Provisioning</p>
                            <p class="path-next-label">Creating an entire environment all the way down to the application stack fully configured with Vagrant.</p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="g-b g-b--m--1of2 g-b--l--1of3 collection-item plm prm">
                   <div class="card card--a has-card-item path path--min path--min--l path--static has-path-btn mbl">
                      <a href="lessons/writing-quality-reusable-powershell" aria-hidden="true" class="badge badge--80 path-badge" tabindex="-1"><img alt="PowerShell" class="badge-img" height="110" src="./images/powershell.png" width="110">
                      </a>
                      <div class="path-content">
                         <h2 class="path-title">
                            <a href="lessons/writing-quality-reusable-powershell" class="path-title-link twl">PowerShell</a>
                         </h2>
                         <p class="tct js-orphan">PowerShell is the most powerful automation tool that Microsoft has to offer, and its both a shell and a scripting language.</p>
                      </div>
                      <a href="lessons/writing-quality-reusable-powershell" aria-label="Writing Quality Reusable PowerShell" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/easy.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Writing Quality Reusable PowerShell</p>
                            <p class="path-next-label">We'll create a module from scratch, and even touch on hashmaps, splatting, and other advanced topics.</p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="g-b g-b--m--1of2 g-b--l--1of3 collection-item plm prm">
                   <div class="card card--a has-card-item path path--min path--min--l path--static has-path-btn mbl">
                      <a href="lessons/elk-stack-for-logging-tutorial" aria-hidden="true" class="badge badge--80 path-badge" tabindex="-1"><img alt="iOS Path Badge" class="badge-img" height="110" src="./images/elk.png" width="110">
                      </a>
                      <div class="path-content">
                         <h2 class="path-title">
                            <a href="lessons/elk-stack-for-logging-tutorial" class="path-title-link twl">The ELK Stack</a>
                         </h2>
                         <p class="tct js-orphan">By combining the massively popular Elasticsearch, Logstash and Kibana, you can create an open source logging Platform that's not only beautiful, but scales as well!</p>
                      </div>
                      <a href="lessons/elk-stack-for-logging-tutorial" aria-label="Setting up the ELK Stack" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/medium.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Setting up the ELK Stack</p>
                            <p class="path-next-label">Overview and introduction to setting up the ELK Stack.</p>
                         </div>
                      </a>
                   </div>
                </div>
                <div class="g-b g-b--m--1of2 g-b--l--1of3 collection-item plm prm">
                   <div class="card card--a has-card-item path path--min path--min--l path--static has-path-btn mbl">
                      <a href="lessons/docker-beginner-tutorial" aria-hidden="true" class="badge badge--80 path-badge" tabindex="-1"><img alt="Git Path Badge" class="badge-img" height="110" src="./images/docker.png" width="110">
                      </a>
                      <div class="path-content">
                         <h2 class="path-title">
                            <a href="lessons/docker-beginner-tutorial" class="path-title-link twl">Docker</a>
                         </h2>
                         <p class="tct js-orphan">Docker is an open platform for developers and sysadmins to build, ship, and run distributed applications, whether on laptops, data center VMs, or the cloud.</p>
                      </div>
                      <a href="lessons/docker-beginner-tutorial" aria-label="Introduction to Docker" class="card-item card-item--f path-next pts pbs">
                        <div class="responsive-container">
                           <div class="dummy"></div>
                           <div class="img-container">
                             <img alt="" height="40" src="./images/easy.png" width="40">
                           </div>
                        </div>
                         <div class="path-next-content">
                            <p class="path-next-title">Introduction to Docker</p>
                            <p class="path-next-label">Docker is one of those things that people tend to get a pretty strong opinion one way or another very quickly, but we promise you, that if you use Linux at all in your organization, you’ll probably end up eventually loving it.  Even if you’re a windows shop you might end up loving it too.</p>
                         </div>
                      </a>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="row row--a"></div>
       <div class="row">
          <div class="cell cell-l well well--xl">
             <div class="modal fade" id="story">
                <div class="modal-dialog">
                   <div class="modal-content">
                      <div class="modal-header">
                         <a href="http://www.devopslibrary.com/#" class="modal-close close" data-dismiss="modal"><b class="srt">Close</b>
                         </a>
                         <p class="mbf tac twsb">Submit your story!</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="modal modal--video fade" id="gettingStarted">
          <a href="http://www.devopslibrary.com/#" class="modal-close close js-video-manager-close" data-dismiss="modal"><b class="srt">Close</b>
          </a>
          <div class="modal-dialog">
             <div class="modal-content">
                <div class="modal-body">
                   <h3 class="modal-title mbs tac">
                      <span class="modal-title-title h--bold"></span>
                      <span class="modal-title-subtitle"></span>
                   </h3>
                </div>
             </div>
          </div>
       </div>
    </main>
    <style>body.tablesorter-disableSelection { -ms-user-select: none; -moz-user-select: -moz-none;-khtml-user-select: none; -webkit-user-select: none; user-select: none; }.tablesorter-resizable-container { position: relative; height: 1px; }.tablesorter-resizable-handle { position: absolute; display: inline-block; width: 8px;top: 1px; cursor: ew-resize; z-index: 3; user-select: none; -moz-user-select: none; }</style>
    {% include footer.html %}
  </body>

</html>
