<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="content" role="main">
       </div>
       <div class="row">
          <div class="cell cell--xl well well--xl">
             <div class="tac">
                <h3 class="h h--1">Hello,  Welcome to the DevOps Library!</h3>
                <div class="cell cell--xs">
                   <p class="mbxl" style="font-size: 140%;">What would you like to learn today?</p>
                </div>
             </div>
             <div class="g collection collection--centered collection--m--1of2 collection--l--1of3 mbm">
               {% assign categories = "Jenkins|SaltStack|DevOps|Vagrant|ELK|PowerShell|Linux|Docker" | split: "|" %}
               {% assign categoryDescriptions = "In a nutshell, Jenkins is the leading open source automation server. Built with Java, it provides hundreds of plugins to support building, testing, deploying and automation for virtually any project.|
                                                 Become a Salt master, and rule over your minions. Configuration Management from start to finish.|
                                                 We're going to use a story to illustrate how to solve real world problems using DevOps tooling and concepts.|
                                                 Vagrant enables users to create and configure lightweight, reproducible, and portable development environments.|
                                                 By combining the massively popular Elasticsearch, Logstash and Kibana, you can create an open source logging Platform that's not only beautiful, but scales as well!|
                                                 PowerShell is the most powerful automation tool that Microsoft has to offer, and its both a shell and a scripting language.|
                                                 Want to brush up on your Linux skills?  Here you go!|
                                                 Docker is an open platform for developers and sysadmins to build, ship, and run distributed applications, whether on laptops, data center VMs, or the cloud. |" | split: "|" %}
               {% for category in categories %}
                <div class="g-b g-b--m--1of2 g-b--l--1of3 collection-item plm prm">
                  <div class="card card--a has-card-item path path--min path--min--l path--static has-path-btn mbl">
                    <a href="{{ category }}" aria-hidden="true" class="badge badge--80 path-badge" tabindex="-1">
                      <img alt="{{ category | first }}" class="badge-img" height="110" src="./images/{{ category }}.png" width="110">
                    </a>
                    <div class="path-content">
                       <h2 class="path-title">
                          <a href="{{ category }}" class="path-title-link twl">{{ category }}</a>
                       </h2>
                       <p class="tct js-orphan">{{ categoryDescriptions[forloop.index0] }}</p>
                    </div>

                    {% assign pages = site.categories[category] | sort:"weight"%}

                      {% for post in pages %}
                      <a href="{{ post.url }}" class="card-item card-item--f path-next pts pbs moo">
                         <div class="responsive-container">
                             <div class="img-container">
                               <img alt="" height="40" src="./images/{{ post.difficulty }}.png" width="40">
                             </div>
                         </div>
                         <div class="path-next-content">
                            <p class="path-next-title">{{ post.title }}</p>
                            <p class="path-next-label">{{ post.excerpt }}</p>
                         </div>
                      </a>
                      {% endfor %}
                  </div>
                </div>
              {% endfor %}
             </div>
          </div>
       </div>
       <div class="row row--a"></div>
       <div class="row">
          <div class="cell cell-l well well--xl">
          </div>
       </div>
    </main>
    {% include footer.html %}
  </body>
</html>
